.Weather {
    padding: 20px;
}
.today-weather {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 35px;
}
.today-icon {
    margin-right: 10px;
}
li {
    list-style: none;
}
.temp {
    font-size: 2rem;
}
#unit {
    font-size: 1rem;
    margin-left: 6px;
}